.video {
  background-color: #222;
  width: calc(100% - 16px);
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.dvider {
  display: block;
  margin: 32px auto;
  border-style: solid;
  border-color: #333;
  border-width: 2px;
}