.file-item-container {
  margin: 4px 0px 0px 0px;
}

.file-item {
  display: block;
  color: #EEE;
  text-decoration: none;
  padding: 8px 8px;
  background-color: #333;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: none;
  overflow: hidden;
}

.file-item:hover {
  background-color: #444;
}

.file-type {
  float: left;
  width: calc(5% - 4px);
  max-width: 1.5em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 4px;
}

.file-name {
  float: left;
  width: calc(30% - 8px);
  text-align: left;
  padding-left: 8px;
}

.file-size {
  float: right;
  width: 10%;
  text-align: right;
}

.file-createdAt {
  float: right;
  width: calc(20% - 8px);
  text-align: right;
  padding-left: 8px;
}

.file-modifiedAt {
  float: right;
  width: calc(20% - 8px);
  text-align: right;
  padding-left: 8px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .file-type {
    width: calc(10% - 4px);
  }
  
  .file-name {
    width: calc(45% - 8px);
  }
  
  .file-size {
    width: 15%;
  }
  
  .file-createdAt {
    display: none;
  }
  
  .file-modifiedAt {
    width: calc(30% - 8px);
  }
}

@media (max-width: 768px) {
  .file-type {
    width: calc(10% - 4px);
  }
  
  .file-name {
    width: calc(65% - 8px);
  }
  
  .file-size {
    width: 25%;
  }
  
  .file-createdAt {
    display: none;
  }
  
  .file-modifiedAt {
    display: none;
  }
}

@media (max-width: 320px) {
  .file-type {
    width: calc(20% - 4px);
  }
  
  .file-name {
    width: calc(80% - 8px);
  }
  
  .file-size {
    display: none;
  }
  
  .file-createdAt {
    display: none;
  }
  
  .file-modifiedAt {
    display: none;
  }
}
